.App {
  background-color: #f8f9fa;
  font-size: 1.5rem;
}

.App > div {
  padding: 2rem;
}

.header .title {
  margin-top: 0;
  font-size: 2rem;
}

.header .route {
  margin-bottom: 0;
  font-size: 1rem;
  color: #95b147;
}

.header .addButton {
  font-size: 1.2rem;
  background-color: #95b147;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #95b147;
  border-radius: 5px;
}

.list {
  margin-top: 3rem;
}
